<h1>비밀글</h1>
<%= form_with url: verify_password_post_path(@post), local: true do |f| %>
    <%= password_field_tag :password %>
    <%= f.submit %>
<% end %>

<% if flash[:alert] %>
    <p style="color:red"><%= flash[:alert] %> </p>
<% end %>
